@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/bebasneue-regular-webfont.woff2') format('woff2'),
    url('../fonts/bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.carouselhead {
    font-family: "bebas_neueregular";
    font-size: 2em;
    text-align: center;
    text-shadow: 2px 2px #BCC1C4;
    cursor: pointer;
    color: black;
}

.carouseltitle {
    font-family: "bebas_neueregular";
    font-size: 1.4em;
    text-align: center;
    text-shadow: 2px 2px #BCC1C4;
    cursor: pointer;
    color: black;
}

.backnextbutton {
    font-family: "bebas_neueregular";
    font-size: 1.5em;
}