@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/bebasneue-regular-webfont.woff2') format('woff2'),
    url('../fonts/bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
    url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.moviecard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

.innnercard {
    padding: 20px;
}

.cardhead {
    font-family: "bebas_neueregular";
    font-size: 7em;
    text-shadow: 2px 2px #BCC1C4;
    text-align: center;
    padding-top: 30px;
}

.moviecardtitle {
    font-family: "bebas_neueregular";
    text-shadow: 2px 2px #BCC1C4;
    font-size: 1.4em;
}

.charactername {
    font-family: 'open_sansregular';
    text-align: center;
}

.actorname {
    font-family: "bebas_neueregular";
    text-shadow: 2px 2px #BCC1C4;
    font-size: 0.9em;
    text-align: center;
}

.githublink a:link {
    color: black;
}

.githublink a:visited {
    color: black;
}

.githublink a:hover {
    color: black;
}

.githublink a:active {
    color: black;
}