@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/bebasneue-regular-webfont.woff2') format('woff2'),
    url('../fonts/bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.app_title {
    font-family: "bebas_neueregular";
    font-size: 2em;
}

.listitems {
    font-family: "bebas_neueregular";
    font-size: 2em;
}