@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/bebasneue-regular-webfont.woff2') format('woff2'),
    url('../fonts/bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a:link {
    color: white;
    text-decoration: none;
}

a:active {
    color: #406FDB;
}

a:visited {
    color: white;
}

.app_title {
    font-family: "bebas_neueregular";
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px #000000;
}

.listitems {
    font-family: "bebas_neueregular";
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px #000000;
}

.listitemstitle {
    font-family: "bebas_neueregular";
    font-size: 4em;
    color: white;
    text-align: center;
    text-shadow: 2px 2px #000000;
}