@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/bebasneue-regular-webfont.woff2') format('woff2'),
    url('../fonts/bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
    url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.header {
    font-family: "bebas_neueregular";
    text-shadow: 2px 2px #BCC1C4;
    font-size: 4em;
    padding-left: 20px;
    padding-top: 40px;
}

.synopsis {
    font-family: "open_sansregular";
    font-size: 2em;
    padding-left: 20px;

}