@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/bebasneue-regular-webfont.woff2') format('woff2'),
    url('../fonts/bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container {
}

.noinfo {
    font-family: "bebas_neueregular";
    font-size: 5vw;
    text-align: center;
    text-shadow: 2px 2px #BCC1C4;
}